/* Layout for the button groups */
.compare-container {
  padding: 20px;
}
.cat-container {
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 10px;
}
.cat-box {
  text-align: center;
  width: 20%;
}
.cat-box h3 {
  color: darkcyan;
  font-size: 25px;
}
.button-group-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  width: 100%;
  margin-bottom: 50px;
}
.button-group-container {
  width: 75%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.com-button-group {
  flex: 1;
  min-width: 200px; /* Adjust as needed */
}

/*Buttons*/
.com-button-group h3 {
  text-align: center;
}

.button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: red;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button:hover {
  background-color: #f0f0f0;
}

/*Group Buttons*/
.button.clear-btn {
  background-color: transparent;
  color: #6c757d;
  border-radius: 0px;
  margin-bottom: 30px;
  width: 50%;
}

.button.group-btn {
  background-color: transparent;
  color: #6c757d;
  border-radius: 0px;
}

.button.group-btn:hover {
  background-color: #e9ecef;
}

/*Sucess*/
.button.group-btn-success {
  background-color: lightblue;
  color: black;
  border: none;
}

.button.group-btn-success:hover {
  background-color: darkcyan;
}

/*Case Buttons*/

/*Default*/
.button.case-btn {
  background-color: transparent;
  color: #6c757d;
}

.button.case-btn:hover {
  background-color: #e9ecef;
}

/*Sucess*/
.button.case-btn-success {
  background-color: #28a745;
  color: black;
  border: 1px solid transparent;
}

.button.case-btn-success:hover {
  background-color: #218838;
}

/*Chart */
.chart-container {
  display: flex;
  gap: 1rem;
}

.chart-container {
  margin-bottom: 50px;
  display: block;
}

.radar-container {
  width: 100%;
  display: flex;
  margin-top: 100px;
}

@media (max-width: 1000px) {
  .radar-container {
    display: block;
  }
}


