/* Metrics.css */
.metrics-page {
  padding: 20px;
  text-align: center;
}
.button-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 60px;
}

.category-group {
  /*border: 1px solid #ddd;*/
  /*border-radius: 8px;*/
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.category-group h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.button-container .button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container .button-group button {
  border-color: lightgray;
  border-radius: 5px;
}

.button-container .button-group button.selected {
  border-color: transparent;
}

.button-container .button-group button.selected:hover {
  color: black !important;
  font-weight: bold;
  border-color: cyan;
}

.button-container .button-group button:not(selected):hover {
  color: white !important;
  font-weight: bold;
  border-color: cyan;
}

.metrics-info-container {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.metrics-info-container h3 {
  margin-top: 0;
}

.metrics-info-container p {
  margin: 0;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: grey !important;
  color: white !important;
}

.case-data {
  margin-bottom: 30px;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .button-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .button-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .button-container {
    /*grid-template-columns: 1fr;*/
  }

  .button-container .button-group button {
    font-size: 13px;
    padding: 7px;
  }
}

@media (max-width: 400px) {
  .button-container .button-group button {
    font-size: 10px;
    padding: 5px;
  }
}
