/* Metrics.css */
.button-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
}

.category-group {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.category-group h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.button-container .button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container .button-group button {
  width: 100%;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

.metrics-info-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.metrics-info-container h3 {
  margin-top: 0;
}

.metrics-info-container p {
  margin: 0;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: grey !important;
  color: white !important;
}
@media (max-width: 1200px) {
  .button-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .button-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .button-container {
    /*grid-template-columns: 1fr;*/
  }

  .button-group button {
    font-size: 12px;
    padding: 10px;
  }
}
