/* src/Visualize.css */
.vis-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.control-group-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
.control-btn-container {
  display: flex;
  gap: 10px;
}
/* Buttons */
.vis-container .button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button.play-btn {
  color: grey;
}

.button.play-btn.active {
  color: black;
  background-color: #28a745;
  border: none;
}

.button.play-btn:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* Playback Buttons */
.button.playback-btn {
  text-wrap: nowrap;
  background-color: transparent;
  color: grey;
}

.button.playback-btn:hover {
  background-color: #e9ecef;
  color: black;
}

.button.playback-btn.active {
  background-color: grey;
  color: white;
  border: none;
}
.button.ts-btn {
  color: white;
}

.button.ts-btn:hover {
  background-color: white;
  color: grey;
}

/* Progress Bar */
.progress-bar {
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.1s;
}

.time-step {
  font-size: 25px;
  width: 80%;
  margin-bottom: 30px;
}

.time-step-controls {
  font-size: 16px;
  width: 20%;
}

/* Video Container */

.video-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr); /* Default to 4 columns */
  grid-template-rows: auto; /* Rows auto adjust based on content */
  width: 100%;
  height: auto;
}

.video-item {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
}

.video-label {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}
.video-container video {
  width: 400px;
}
@media (max-width: 1200px) {
  .video-container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Change to 2 columns on medium screens */
    grid-template-rows: auto; /* Rows auto adjust based on content */
  }
}

@media (max-width: 850px) {
  .video-container {
    grid-template-columns: 1fr; /* Change to 1 column on small screens */
    grid-template-rows: auto; /* Rows auto adjust based on content */
  }
  .time-step-controls {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .button.button.playback-btn {
    font-size: 12px;
  }
  .video-container video {
    width: 350px;
  }
}
